
@if (errorMessage) {
  <div>{{ errorMessage }}</div>
}


<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3>Вход</h3>


  <label for="username">Username</label>
  <input type="text" placeholder="Email" formControlName="email" />

  <label for="password">Password</label>
  <p-password class="input-password"  [toggleMask]="true" type="password" placeholder="Password" formControlName="password"/>

  <button style="color: black;" type="submit">Войти</button>
  <button style="color: black;"  routerLink="/register" >Зарегистрироваться</button>
</form>